<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Gundam App</title>
</head>
<body>
        <h1>Gundam Quotes</h1>
        <form action="/quotes" method="POST">
                <input type="text" placeholder="Name" name="name">
                <input type="text" placeholder="Quote" name="quote">
                <button type="submit">Submit</button>
        </form>
	<h2>Quotes</h2>
	<ul class="quotes">
		<% for(let i = 0; i < quotes.length; i++) { %>
		<li class="quote">
			<span><%= quotes[i].name %></span>:
			<span><%= quotes[i].quote %></span>
		</li>
		<% } %>
	</ul>
	<div>
	<h2>Anavel Gato Attacks!!!</h2>
		<p>Replace Amuro Ray's quote with a quote from Anavel Gato, or add Anavel Gato's quote</p>
		<button id="update-button">Replace or add a quote</button>
	</div>
	<div>
	<h2>Ensign Kou Uraki launches!</h2>
		<p>Delete one of Anavel Gato's quotes if one is present</p>
	 	<button id="delete-button">Delete Anavel Gato's quote</button>
	</div>
	<div id="message"></div>
	<script src="/main.js"></script>
</body>
</html>
