<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Gundam App</title>
</head>
<body>
        <h1>Gundam Quotes</h1>
        <form action="/quotes" method="POST">
                <input type="text" placeholder="Name" name="name">
                <input type="text" placeholder="Quote" name="quote">
                <button type="submit">Submit</button>
        </form>
	<%= quotes %>
</body>
</html>
